Repository physiopy/phys2bids, pull requests merged in 2019-12, with the labels that each got.

#57 Improved trigger output
  phys2bids/phys2bids.py
  phys2bids/physio_obj.py
Labels: Bug, Enhancement

#79 Bugfixes
  phys2bids/physio_obj.py
  phys2bids/utils.py
Labels: BugFIX, Urgent

#76 [TST/WIP] Adds unit tests
  phys2bids/tests/test_phys2bids.py
  phys2bids/tests/test_physio_obj.py
  phys2bids/tests/test_utils.py
Labels: Testing
