Repository physiopy/phys2bids, pull requests merged in 2020-12, with the labels that each got.

#363 Fix call to conda environment reference in the test configuration file
  .circleci/config.yml
Labels: Testing

#362 Add BIDS_VALIDATOR test
  .all-contributorsrc
  .circleci/config.yml
  README.md
  phys2bids/bids.py
  phys2bids/tests/test_bids.py
Labels: Testing

#369 Add 0 before run number to multi-run trigger plot file name
  phys2bids/phys2bids.py
Labels: BugFIX

#365 Correct BIDS validation test names
  .circleci/config.yml
Labels: Testing

#366 Add windows CI testing
  .azure-pipelines/windows.yml
  .circleci/config.yml
  azure-pipelines.yml
Labels: Skip release, Testing

#368 Replace utils.check_input_dir() with os.path.abspath()
  phys2bids/phys2bids.py
  phys2bids/tests/test_utils.py
  phys2bids/utils.py
Labels: Internal, Refactoring

#372 Update contributions and remove auto all-contribution plugin
  .all-contributorsrc
  .autorc
  README.md
Labels: Skip release
