Repository physiopy/phys2bids, pull requests merged in 2020-09, with the labels that each got.

#302 Add link to Google Calendar
  README.md
Labels: Outreach

#288 Add (resampled) trigger to all output files
  phys2bids/phys2bids.py
  phys2bids/tests/test_integration.py
Labels: Minormod

#305 Refractor txt.py chtrig parameter to improve code readability
  phys2bids/interfaces/txt.py
  phys2bids/tests/test_txt.py
Labels: Internal, Refactoring
