Repository physiopy/phys2bids, pull requests merged in 2020-03, with the labels that each got.

#154 Change order of output folder existence check and creation before logger init
  phys2bids/phys2bids.py
Labels: BugFIX

#156 Stop reordering trigger
  phys2bids/interfaces/acq.py
  phys2bids/interfaces/txt.py
  phys2bids/phys2bids.py
  phys2bids/physio_obj.py
  phys2bids/tests/test_acq.py
Labels: BugFIX

#164 fix frequency separation
  phys2bids/phys2bids.py
Labels: BugFIX, Urgent

#165 Adjusts main function for easier testing and usage of phys2bids from inside python
  phys2bids/phys2bids.py
  phys2bids/viz.py
Labels: Minormod

#169 correct outdir and name of multifreq files
  phys2bids/phys2bids.py
Labels: BugFIX

#148 Trigger to 1
  phys2bids/interfaces/txt.py
Labels: Refactoring

#170 Add files for new logo & favicon
  docs/_static/favicon.txt
  docs/_static/favicon/android-icon-144x144.png
  docs/_static/favicon/android-icon-192x192.png
  docs/_static/favicon/android-icon-36x36.png
  docs/_static/favicon/android-icon-48x48.png
  docs/_static/favicon/android-icon-72x72.png
  docs/_static/favicon/android-icon-96x96.png
  docs/_static/favicon/apple-icon-114x114.png
  docs/_static/favicon/apple-icon-120x120.png
  docs/_static/favicon/apple-icon-144x144.png
  docs/_static/favicon/apple-icon-152x152.png
  docs/_static/favicon/apple-icon-180x180.png
  docs/_static/favicon/apple-icon-57x57.png
  docs/_static/favicon/apple-icon-60x60.png
  docs/_static/favicon/apple-icon-72x72.png
  docs/_static/favicon/apple-icon-76x76.png
  docs/_static/favicon/apple-icon-precomposed.png
  docs/_static/favicon/apple-icon.png
  docs/_static/favicon/browserconfig.xml
  docs/_static/favicon/favicon-16x16.png
  docs/_static/favicon/favicon-32x32.png
  docs/_static/favicon/favicon-96x96.png
  docs/_static/favicon/favicon.ico
  docs/_static/favicon/manifest.json
  docs/_static/favicon/ms-icon-144x144.png
  docs/_static/favicon/ms-icon-150x150.png
  docs/_static/favicon/ms-icon-310x310.png
  docs/_static/favicon/ms-icon-70x70.png
  docs/_static/favicon/phys2bids_onlyBrain.jpg
  docs/_static/favicon/phys2bids_onlyBrain.png
  docs/_static/phys2bids_logo2_1280×640.png
  docs/_static/phys2bids_logo_1280x649.png
  docs/_static/phys2bids_logo_2000x400.png
  docs/_static/phys2bids_negativeReadTheDocs_500x150.png
  docs/_static/physiopy_logo_1280x640.png
  docs/_static/physiopy_negativeReadTheDocs_500x150.png
Labels: Documentation, Outreach

#166 Adds integration tests
  .travis.yml
  phys2bids/tests/test_integration.py
  phys2bids/viz.py
Labels: Testing

#178 Txt_test_faster
  phys2bids/tests/test_txt.py
Labels: Testing

#187 Quick fix for #184
  phys2bids/phys2bids.py
Labels: BugFIX

#183 Adds check_trigger_amount_std
  phys2bids/cli/run.py
  phys2bids/phys2bids.py
  phys2bids/physio_obj.py
  phys2bids/tests/test_integration.py
  phys2bids/viz.py
Labels: Enhancement

#189 Improve code compliance to BIDS in BlueprintOputput
  phys2bids/phys2bids.py
  phys2bids/physio_obj.py
  phys2bids/tests/test_physio_obj.py
Labels: Enhancement, Minormod
