Repository physiopy/phys2bids, pull requests merged in 2020-08, with the labels that each got.

#286 Add CircleCI for automatic testing and correct integration test parameters
  .circleci/artifact_path
  .circleci/config.yml
  .readthedocs.yml
  .travis.yml
  Makefile
  codecov.yml
  docs/requirements.txt
  phys2bids/tests/conftest.py
  phys2bids/tests/test_integration.py
  phys2bids/tests/test_viz.py
  phys2bids/viz.py
  requirements.txt
  setup.cfg
Labels: Internal, Testing

#283 Start of sampling time is now the same for all frequencies
  phys2bids/phys2bids.py
  phys2bids/tests/test_integration.py
Labels: BugFIX

#294 Fix linting errors
  phys2bids/__init__.py
  phys2bids/_version.py
  phys2bids/bids.py
  phys2bids/cli/__init__.py
  phys2bids/due.py
  phys2bids/interfaces/__init__.py
  phys2bids/interfaces/txt.py
  phys2bids/slice4phys.py
  phys2bids/utils.py
  phys2bids/viz.py
  setup.cfg
Labels: Refactoring

#297 Change build shield from Travis to CircleCI
  README.md
  docs/index.rst
Labels: BugFIX

#291 Add tests for exceptions
  phys2bids/phys2bids.py
  phys2bids/tests/test_phys2bids.py
  phys2bids/tests/test_physio_obj.py
  phys2bids/tests/test_utils.py
Labels: Testing
