Repository physiopy/phys2bids, pull requests merged in 2020-01, with the labels that each got.

#126 [DOC] populated doc with outline and initial info
  docs/bestpractice.rst
Labels: Documentation

#80 Adding docstrings to scripts
  phys2bids/cli/run.py
  phys2bids/interfaces/acq.py
  phys2bids/interfaces/txt.py
  phys2bids/phys2bids.py
  phys2bids/physio_obj.py
  phys2bids/utils.py
  phys2bids/viz.py
Labels: Documentation, Urgent

#135 Refactor use_heuristics for strings and paths
  phys2bids/interfaces/txt.py
  phys2bids/phys2bids.py
Labels: BugFIX, Enhancement

#132 Add code of conduct
  Code_of_Conduct.md
Labels: Documentation
