Repository physiopy/phys2bids, pull requests merged in 2020-06, with the labels that each got.

#223 Fix azure pipelines non-failure bug
  .azure-pipelines/windows.yml
Labels: Testing

#222 Add BIDS-compatible automatic reformatting of units of measure
  phys2bids/bids_units.py
  phys2bids/phys2bids.py
  phys2bids/tests/test_bids_units.py
Labels: Minormod

#224 Enh/bids units
  phys2bids/bids_units.py
  phys2bids/tests/test_bids_units.py
Labels: BugFIX

#212 Print float to max 4 decimal places
  phys2bids/phys2bids.py
  phys2bids/physio_obj.py
  phys2bids/tests/test_integration.py
Labels: BugFIX, Good first issue

#229 Adds "Why BIDS?" page to the documentation
  docs/bids.rst
  docs/index.rst
Labels: Documentation

#231 Update reference API
  .gitignore
  docs/api.rst
Labels: Documentation

#234 Move bids-related functions to dedicated file
  .travis.yml
  phys2bids/bids.py
  phys2bids/phys2bids.py
  phys2bids/tests/test_bids.py
  phys2bids/tests/test_bids_units.py
  phys2bids/tests/test_phys2bids.py
Labels: Internal

#181 Implement automatic release
  .all-contributorsrc
  .autorc
  .github/workflows/pythonpublish.yml
  .travis.yml
  .zenodo.json
  README.md
  docs/contributorfile.rst
  docs/index.rst
  phys2bids/heuristics/heur_ex.py
Labels: Internal, Paused

#236 Auto
  .travis.yml
Labels: Skip release

#197 Add guidelines for PR reviews.
  docs/contributing.rst
  docs/contributorfile.rst
Labels: Community, Documentation, Paused

#237 Fix TravisCI configuration for auto
  .travis.yml
Labels: Internal, Release

#238 Fix Travis CI environment for auto
  .travis.yml
Labels: Internal, Release

#240 Add required token for Travis to run auto
  .travis.yml
Labels: Internal, Release

#241 Update testing to use short files.
  phys2bids/tests/conftest.py
  phys2bids/tests/test_integration.py
  phys2bids/tests/test_txt.py
Labels: Testing

#244 Generate participants.tsv if it doesn't exist or update it if subject is missing in the file
  phys2bids/bids.py
  phys2bids/cli/run.py
  phys2bids/heuristics/participant.yml
  phys2bids/phys2bids.py
  phys2bids/tests/test_integration.py
  phys2bids/utils.py
  requirements.txt
  setup.cfg
Labels: Minormod

#245 Create bids_ignore directory and redirect channels plot, trigger plot, logger output and subject log file to this directory
  phys2bids/cli/run.py
  phys2bids/phys2bids.py
  phys2bids/tests/test_integration.py
  phys2bids/tests/test_viz.py
  phys2bids/viz.py
Labels: Minormod

#255 Generate dataset_description.json and README.md when they do not exist and update the json file when the subject is missing
  phys2bids/bids.py
  phys2bids/phys2bids.py
  phys2bids/tests/test_bids.py
Labels: Minormod

#249 Add duecredit to handle citations
  docs/index.rst
  phys2bids/due.py
  phys2bids/phys2bids.py
  setup.cfg
Labels: Minormod

#256 Create folder code/conversion to store trigger and channel plots, yaml and heuristic files and the call.sh file
  phys2bids/phys2bids.py
  phys2bids/tests/test_integration.py
Labels: Minormod

#254 Add unit tests for participants_file and append_list_as_row
  phys2bids/tests/test_bids.py
  phys2bids/tests/test_utils.py
Labels: Testing

#259 Remove redundant integration tests
  phys2bids/heuristics/heur_test_multifreq.py
  phys2bids/tests/test_integration.py
Labels: Testing

#260 Change os path import and linter
  phys2bids/tests/test_integration.py
Labels: Testing

#206 Add the possibility to split multi-run physiological recordings
  .gitignore
  docs/howto.rst
  phys2bids/bids.py
  phys2bids/cli/run.py
  phys2bids/heuristics/heur_euskalibur.py
  phys2bids/heuristics/heur_test_acq.py
  phys2bids/heuristics/heur_test_multifreq.py
  phys2bids/heuristics/heur_tutorial.py
  phys2bids/interfaces/acq.py
  phys2bids/interfaces/txt.py
  phys2bids/phys2bids.py
  phys2bids/physio_obj.py
  phys2bids/slice4phys.py
  phys2bids/tests/test_bids.py
  phys2bids/tests/test_integration.py
  phys2bids/tests/test_phys2bids.py
  phys2bids/viz.py
  requirements.txt
  setup.cfg
Labels: Minormod

#261 Add zenodo.json
  .zenodo.json
Labels: Internal

#262 Automate python packaging
  .github/workflows/python-publish.yml
Labels: Internal

#266 Add integration test for the multi run pipeline
  phys2bids/tests/conftest.py
  phys2bids/tests/test_integration.py
Labels: Testing
