Repository physiopy/phys2bids, pull requests merged in 2020-10, with the labels that each got.

#290 Update documentation to reflect change from Travis CI to CircleCI
  docs/contributorfile.rst
Labels: Documentation, Hacktoberfest

#310 Update all-contributors
  .all-contributorsrc
  README.md
Labels: Documentation, Skip release

#308 Make trigger-based time-offset correction more generalisable (resample time before comparing it to trigger)
  phys2bids/interfaces/acq.py
  phys2bids/interfaces/txt.py
  phys2bids/physio_obj.py
  phys2bids/tests/test_physio_obj.py
Labels: Enhancement, Minormod, hacktoberfest-accepted

#313 Setup auto release workflow
  .all-contributorsrc
  .autorc
  .github/workflows/auto-release.yml
  README.md
  codecov.yml
  docs/index.rst
Labels: Internal

#317 Reduce `auto` verbosity
  .github/workflows/auto-release.yml
Labels: BugFIX

#318 Add label colours to set auto labels
  .autorc
Labels: BugFIX

#307 Make sure we delete testing files after finishing tests
  phys2bids/tests/test_phys2bids.py
  phys2bids/tests/test_utils.py
Labels: BugFIX, Testing, hacktoberfest-accepted

#321 Update zenodo info
  .zenodo.json
  README.md
Labels: Documentation

#322 Update badges in README and documentation
  README.md
  docs/index.rst
Labels: Documentation

#323 Fix auto release workflow settings
  .autorc
  .github/workflows/auto-release.yml
Labels: BugFIX

#330 Update PyYAML minimal requirements to avoid "FullLoader" attribute errors.
  docs/installation.rst
  setup.cfg
Labels: BugFIX, Urgent

#331 Fix typo in artifact_path
  .circleci/artifact_path
Labels: Testing
