Repository physiopy/phys2bids, pull requests merged in 2020-11, with the labels that each got.

#329 Add Windows installation to the documentation
  docs/contributing.rst
  docs/installation.rst
Labels: Documentation, hacktoberfest-accepted

#342 Remove utils.move_file function as it is no longer used in the toolbox
  phys2bids/tests/test_utils.py
  phys2bids/utils.py
Labels: Refactoring

#343 Rename function `utils.writefile` to `utils.write_file` to respect style
  phys2bids/bids.py
  phys2bids/phys2bids.py
  phys2bids/tests/test_utils.py
  phys2bids/utils.py
Labels: Refactoring

#315 Add documentation for reviewers and a checklist for PRs
  .github/PULL_REQUEST_TEMPLATE.md
  docs/contributing.rst
  docs/contributorfile.rst
Labels: Documentation, Internal

#345 Replace utils.path_exists_or_make_it() with os.makedirs()
  phys2bids/bids.py
  phys2bids/phys2bids.py
  phys2bids/tests/test_utils.py
  phys2bids/utils.py
Labels: Refactoring

#346 Rename utils.writejson() to utils.write_json()
  phys2bids/bids.py
  phys2bids/phys2bids.py
  phys2bids/tests/test_utils.py
  phys2bids/utils.py
Labels: Refactoring

#347 Add more "change type" options
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Internal

#344 txt.py and acq.py reorganization into io.py
  phys2bids/interfaces/__init__.py
  phys2bids/interfaces/acq.py
  phys2bids/io.py
  phys2bids/phys2bids.py
  phys2bids/tests/test_acq.py
  phys2bids/tests/test_io.py
  phys2bids/tests/test_viz.py
Labels: Refactoring

#349 Refactor `io` functions related to txt file imports.
  phys2bids/io.py
  phys2bids/phys2bids.py
  phys2bids/tests/test_io.py
  phys2bids/tests/test_viz.py
Labels: Refactoring

#360 Add support for MATLAB files
  phys2bids/io.py
  phys2bids/phys2bids.py
  phys2bids/tests/conftest.py
  phys2bids/tests/test_io.py
  phys2bids/utils.py
  setup.cfg
Labels: Minormod

#358 BlueprintInput deepcopies inputs at initialization
  phys2bids/physio_obj.py
  phys2bids/tests/test_physio_obj.py
Labels: BugFIX
