Repository physiopy/phys2bids, pull requests merged in 2020-04, with the labels that each got.

#193 Update viz.py docstrings and Inputs
  phys2bids/phys2bids.py
  phys2bids/tests/test_viz.py
  phys2bids/viz.py
Labels: Documentation, Internal

#177 Add section on "Best Practices for Phys Data Collection"
  docs/bestpractice.rst
Labels: Documentation

#191 Update trigger detection tutorial
  docs/_static/tutorial_file_v2_trigger_time_Tmissing.png
  docs/heuristic.rst
  docs/howto.rst
  phys2bids/phys2bids.py
  phys2bids/physio_obj.py
  phys2bids/tests/data/tutorial_file.json
  phys2bids/tests/data/tutorial_file_INFO.json
Labels: Documentation

#198 Fix formatting on "Best Practices for Phys Data Collection"
  docs/bestpractice.rst
Labels: Documentation

#195 Reordering of import statements in the entire phys2bids project
  phys2bids/interfaces/txt.py
  phys2bids/phys2bids.py
  phys2bids/tests/test_integration.py
  phys2bids/tests/test_phys2bids.py
  phys2bids/tests/test_physio_obj.py
  phys2bids/utils.py
Labels: Internal

#200 Fix typos on "Best Practices for Phys Data Collection"
  docs/bestpractice.rst
Labels: Documentation

#208 Add Azure Pipelines for Windows CI testing
  .azure-pipelines/windows.yml
  README.md
  azure-pipelines.yml
  phys2bids/tests/test_phys2bids.py
Labels: Testing
