Repository physiopy/phys2bids, pull requests merged in 2020-02, with the labels that each got.

#134 Adds logger
  phys2bids/cli/run.py
  phys2bids/interfaces/acq.py
  phys2bids/interfaces/txt.py
  phys2bids/phys2bids.py
  phys2bids/physio_obj.py
  phys2bids/tests/test_txt.py
  phys2bids/utils.py
  phys2bids/viz.py
  requirements.txt
  setup.cfg
Labels: Enhancement

#147 put number of samples in the header instead of the channel_list
  phys2bids/interfaces/txt.py
Labels: Bug

#152 solve list transpose that was buggy and problem with lines with extra blank tabs in reading
  phys2bids/interfaces/txt.py
Labels: BugFIX, Urgent
