Repository physiopy/phys2bids, pull requests merged in 2023-04, with the labels that each got.

#443 Update documentation to include GE file functionality
  docs/api.rst
  docs/howto.rst
  docs/index.rst
  phys2bids/io.py
Labels: Documentation

#444 Remove wrong version of exclusion strings
  setup.cfg
Labels: BugFIX, Internal

#445 Fix pre-commit configuration
  .autorc
  .github/ISSUE_TEMPLATE/ISSUE_TEMPLATE_BUGS.md
  .github/ISSUE_TEMPLATE/ISSUE_TEMPLATE_DISCUSSION.md
  .github/ISSUE_TEMPLATE/ISSUE_TEMPLATE_GENERAL.md
  .github/ISSUE_TEMPLATE/ISSUE_TEMPLATE_MEETING.md
  .readthedocs.yml
  .zenodo.json
  Makefile
  README.md
  docs/_static/favicon.txt
  docs/_static/favicon/browserconfig.xml
  docs/_static/favicon/manifest.json
  docs/api.rst
  docs/contributing.rst
  docs/contributorfile.rst
  docs/heuristic.rst
  docs/installation.rst
  docs/license.rst
  phys2bids/heuristics/participant.yml
  phys2bids/phys2bids.py
  phys2bids/tests/test_integration.py
  phys2bids/tests/test_io.py
  setup.cfg
Labels: Internal

#327 Adopt Black and isort
  .circleci/config.yml
  .pre-commit-config.yaml
  docs/conf.py
  phys2bids/__init__.py
  phys2bids/_version.py
  phys2bids/bids.py
  phys2bids/cli/run.py
  phys2bids/due.py
  phys2bids/heuristics/heur_euskalibur.py
  phys2bids/heuristics/heur_test_acq.py
  phys2bids/heuristics/heur_test_multifreq.py
  phys2bids/heuristics/heur_tutorial.py
  phys2bids/io.py
  phys2bids/phys2bids.py
  phys2bids/physio_obj.py
  phys2bids/slice4phys.py
  phys2bids/tests/conftest.py
  phys2bids/tests/test_bids.py
  phys2bids/tests/test_integration.py
  phys2bids/tests/test_io.py
  phys2bids/tests/test_phys2bids.py
  phys2bids/tests/test_physio_obj.py
  phys2bids/tests/test_utils.py
  phys2bids/tests/test_viz.py
  phys2bids/utils.py
  phys2bids/viz.py
  pyproject.toml
  setup.cfg
  setup.py
  versioneer.py
Labels: Internal

#410 Add support for Spike2 files
  phys2bids/io.py
  phys2bids/tests/conftest.py
  phys2bids/tests/test_io.py
  setup.cfg
Labels: Minormod
