Repository physiopy/phys2bids, pull requests merged in 2023-05, with the labels that each got.

#448 Improve performance by using numpy for trigger detection and closing matplotlib figures to avoid memleaks.
  phys2bids/physio_obj.py
  phys2bids/tests/test_viz.py
  phys2bids/viz.py
Labels: Minormod

#450 Update contributions
  .all-contributorsrc
  README.md
Labels: Documentation

#452 Update contributions
  .all-contributorsrc
  README.md
Labels: Documentation, Community

#453 Update @sangfrois as a contributor
  .all-contributorsrc
  README.md
Labels: Documentation, Community

#454 Update supported file list
  README.md
  docs/index.rst
Labels: Documentation
